.custom-select {
  position: relative;
  bottom: 10px;
  margin-bottom: 5px;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #1d71b8;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 33px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 26px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #3993e0;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 4px;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type=submit] {
  font-size: 18px;
}

#explainBox {
  display: none;
  position: relative;
  left: 17px;
  background-color: #e83273;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

#explainBox a{
  color:#aed3f2;
}
#explainBox a:hover{
  color:#82bbeb;
}

#explainBox:after{
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #e83273;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -12px;
}

#explainBoxOuter:hover #explainBox {
  display: inline;
}
