/*------------------------------------------------------------------
[Master Stylesheet]

Project:        Backseat Buddy Prototype
Version:        0.1
Last change:    25-01-2018
Author:         Cas Wognum
-------------------------------------------------------------------*/

@import "layout.css";
@import "colors.css";
@import "typography.css";
@import "BinfoWindow.css";
@import "slickSlider.css";

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration:none;
  color: #ddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #e83273;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b22557;
}

/** LOCATION BUTTON */

#followMeSection {
    width: 50px;
    height: 50px;
    text-align: right;
    z-index: 1;
    position: absolute;
    right: 30px;
    top: 20px;
    transition: 0.5s;
}

#toggleBtnMenu {
    color: black;
}

#menuSection {
    width: 50px;
    height: 50px;
    text-align: left;
    z-index: 1;
    position: absolute;
    left: 30px;
    top: 20px;
    transition: 0.5s;
    font-size: 30px;

}

.toggle_btn {
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  -moz-box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  -moz-transition: -moz-box-shadow .2s ease-in-out;
  -o-transition: -o-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}

.toggle_btn span {
  display: inline-block;
  padding: 6px  12px;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(19,65,88,.8);
  background: #1d70b8;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
  background: -moz-linear-gradient(#3194c6, #5bacd6);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  -o-transition: -o-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.active {
  -webkit-box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  -moz-box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
}

.active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.menubar {
    width: 100%;
    padding: 0px 6px;
    background-color: #fefefe;
    z-index: 4;
}

.divider {
    width: 100%;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


/** COINS DISPLAY INDEX */

#coinDispContainerInd{
  z-index: 1;
  position: absolute;
  right: 100px;
  top: 21px;
}
#coinDispContainerInd a{
  text-decoration: none;
}
#coinDispContainerInd img{
  width:30px;
  height:30px;
  display:inline-block;
  vertical-align: middle;
}
#coinBGInd{
  display: inline-block;
  vertical-align: middle;

  color:white;
  font-size:20px;
  font-weight:bold;
  text-shadow: 0 -1px 1px rgba(19,65,88,.8);
  background: #1d70b8;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d71b8), to(#2d2e83));
  background: -moz-linear-gradient(#1d71b8, #2d2e83);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -webkit-box-shadow:
    0 1px 4px #2d2e83,
    0 1px 1px rgba(0,0,0,.35);
  -moz-box-shadow:
    0 1px 4px #2d2e83,
    0 1px 1px rgba(0,0,0,.35);
  box-shadow:
    0 1px 4px #2d2e83,
    0 1px 1px rgba(0,0,0,.35);

  padding:5px 10px;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
#coinBGInd:hover{
  background: #1d70b8;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d70b8), to(#1d70b8));
  background: -moz-linear-gradient(#1d71b8, #2d2e83);
}
.coinAmountInd{
  display:inline-block;
  vertical-align: middle;
}
#avatarPlaceDiv{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/** COINS & MAP DISPLAY NO-INDEX */

.mapbtn {
    font-size: 33px !important; /*override fontAwesome styling*/
    z-index: 5;
    cursor: pointer;
    color: black;
    text-decoration: none;

    display:inline-block;
    vertical-align: middle;
}

#coinDispContainer{
  z-index: 1;

  display:inline-block;
  vertical-align: middle;
}

#coinsAndMap{
  float:right;
  position: relative;
  right: 20px;
  top: 5px;
}
#coinDispContainer a{
  text-decoration: none;
}
#coinDispContainer img{
  width:30px;
  height:30px;
  display:inline-block;
  vertical-align: middle;
  margin-right:5px;
}
#coinBG{
  color:black;
  font-size:20px;
  font-weight:500; /*only working <600*/

  padding:5px 10px;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.coinAmount{
  display:inline-block;
  vertical-align: middle;
}
#coinsWonContainer{
  text-align: center;
  display: none;
  padding-top: 5px;
}
#coinsWonContainer img, #coinsWon{
  display: inline-block;
  vertical-align: middle;
}
#backToMap{
    margin:40px 0px;
}
#backToMap a{
    background-color:#1d71b8;
    color:white;
    border-radius:20px;
    font-size:21px;
    padding:15px 30px;
    text-decoration:none;
    -webkit-transition: opacity .1s; /* Safari */
    transition: opacity .1s;
}
#backToMap a:hover{
    opacity:0.75;
}
#backToMap i{
    color:white;
    font-size:21px;
    margin-right:20px;
}

#p404{
  max-width:400px;
  min-width:300px;
  width:70%;
  text-align:center;
  margin:20px auto;
  font-size:20px;
}

.notAvailable{
  max-width:400px;
  min-width:300px;
  width:70%;
  text-align:center;
  margin:20px auto;
  font-size:20px;
}

#ynBtns{
  margin: 0 auto;
}
.shopBtn{
  padding: 10px 20px;
  margin: 20px;
  color: white;
  border-radius: 10px;
  display: inline-block;
  width: 50px;
  font-weight: bold;
}
.shopBtn:hover{
  cursor: pointer;
}
.yesButton{
  background-color: #2ecc71;
}
.yesButton:hover{
  background-color: #62dc96;
}
.noButton{
  background-color: red;
}
.noButton:hover{
  background-color: #f55;
}
#overlayNote{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20%;
  width: 70%;
  max-width: 400px;

  color:white;
  background-color: #e83273;
  border-color: white;
  border-width: thin;
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  padding: 40px 40px 60px;
  font-weight: bold;

  z-index: 2;

  /* Only display after first time on index when coins > 0 */
  display: none;
}
#overlayNote img{
  width: 200px;
  display: block;
  margin: 20px auto;
}
#overlayNote p{
  margin: 40px 0 50px;
}
#overlayButton a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  background-color: #1d71b8;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  width:60%;
}
#overlayButton a:hover {
  background-color: #489be2;
}
a.closebutton{
  color: white;
  text-decoration: none;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
}
a.closebutton:hover{
  color: #CCC;
}

textarea {
  width: 1000px;
  resize: none;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 4px;
  max-width: 100%;
}

#formFeedback{
  font-style: italic;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  margin-top: 5px;

  display: none;
}

/*
*
* Duplicatable Game Buttons
*
*/
/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 22px;
  text-decoration: none;
  margin: 7px;
  color: #fff;
  position: relative;
  display: inline-block;
	min-width: 150px;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.blue {
  background-color: #1d71b8;
  box-shadow: 0px 5px 0px 0px #2d2e83;
}

.blue:hover {
  background-color: #56a3e4;
}

.pink {
  background-color: #e83273;
  box-shadow: 0px 5px 0px 0px #c01653;
}

.pink:hover {
  background-color: #f17ea7;
}

#GameButtons, #inGameBoxes{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    z-index: 3;
}
#GameButtons a{
  color: white;
}
.exitGame{
	position: absolute;
	top: 60px;
	left: 20px;
	color: #e83273;
	text-decoration: none;
	text-shadow: 0px 4px #c01653;
}
.exitGame:hover{
	color:#f17ea7;
}
.exitGame:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.box{
	background-color:#1d71b8;

	border-radius: 5px;
	padding: 1px 20px;
	font-size: 22px;
	text-decoration: none;
	margin: 7px auto;
	color: #fff;
	position: relative;
	display: block;
	width: 250px;
}

.boxShadow{
		-webkit-box-shadow:
	    0 1px 4px #2d2e83,
	    0 1px 1px rgba(0,0,0,.35);
	  -moz-box-shadow:
	    0 1px 4px #2d2e83,
	    0 1px 1px rgba(0,0,0,.35);
	  box-shadow:
	    0 1px 4px #2d2e83,
	    0 1px 1px rgba(0,0,0,.35);
}

.nonSelectable{
	/* make the text not selectable while dragging */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
#sideContent .nowrap {
    width: 320px;
		margin:0 auto;
}

#sideContent .closebtn {
    font-size: 48px;
	position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
	color: #ededed;
	text-decoration: none;
}

#sideContent .closebtn a:hover {
    color: #fff;
	text-decoration: none;
}

.sideWindow{
	z-index: 10;
	position: fixed;
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:white;
	font-family:Helvetica;
	box-shadow: -2px 0px 7px #888888;
	transition: 0.5s;
}
.sideWindowWrapper h1{
	padding:20px;
	text-align:center;
	color: #1d71b8;
}
.sideContent .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#tutorialContent{
	margin:0 40px;
	text-align: justify;
}
.sofieCircle{
	width:200px;
	margin:20px auto;
	display: block;
}

#scoresTabel {
    font-family: Helvetica;
    border-collapse: collapse;
    width: 100%;
}

#scoresTabel td, #scoresTabel th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scoresTabel tr:nth-child(even){background-color: #ddd;}
#scoresTabel tr:nth-child(odd){background-color: white;}

#scoresTabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1d71b8;
    color: white;
}

#scoresTabel tr #no1{
	background-color:pink;
}

#lastScore p{
	margin:10px auto;
	background-color: #1d71b8;
	border-radius: 5px 10px;
	max-width: 200px;
	color: #fff;
	text-align: center;
	padding: 5px;
	line-height: 25px;
}
#lastScore{
	position: absolute;
	width: 100%;
}
