body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
#quizContainer{
    max-width:400px;
    min-width:300px;
    width:70%;
    text-align:center;
    margin:20px auto;
    font-size:20px;
}
.question{
	font-weight: 600;
	margin:30px 0px 20px;
}
.answers {
    margin-bottom: 10px;
}
#submit{
	background-color:#e83273;
    border-radius:5px;
    padding:15px 30px;
    color:white;
    font-size:20px;
    max-width:400px;
    min-width:300px;
    margin:10px 0 20px;
		display:none;
}
#submit:hover{
	opacity:.7;
}

#quizAnswer{
	background-color:white;
    border-radius:5px;
    padding:15px;
    margin:10px 0;
}
#quizAnswer:hover{
    background-color:#fafafa;
}

input[type="radio"]{
	margin:0 12px 0 0;

}
.resultImg{
	width:300px;
	margin:0 auto;
}
#coinDisplayContainer{
	display:inline-block;
	font-weight: bold;
	color: #f9b009;
}
#coinsWonDisplay{
	display:inline-block;
	vertical-align:middle;
	margin:0 6px;
	position:relative;
	right:6px;
}
