body{
    
}

h2{
    max-width:400px;
    min-width:300px;
    width:70%;
    margin:20px auto;
    text-align:center;
    color:#2B2B2B;
    font-size:20px;
}

#quizContainer{
    max-width:400px;
    min-width:300px;
    width:70%;
    text-align:center;
    margin:0 auto;
    font-size:20px;
}

#quizAnswer{
    background-color:white;
    border-radius:5px;
    padding:15px;
    margin:10px 0;
}
#quizAnswer:hover{
    background-color:#fafafa;
}

[type="submit"]{
    font-size:20px !important;
}

#backToMap{
    margin:40px 0px 0px 0px;
}
#backToMap a{
    background-color:#1d71b8;
    color:white;
    border-radius:20px;
    font-size:24px;
    padding:15px 30px 15px 30px;
    text-decoration:none;
    -webkit-transition: opacity .1s; /* Safari */
    transition: opacity .1s;
}
#backToMap a:hover{
    opacity:0.75;
}
#backToMap i{
    color:white;
    font-size:24px;
    margin-right:20px;
}