.contentHeight{
	height:88%;
}
.slickContent{
	text-align:center;
}
.slickContent p, .slickContent h1{
	padding:0px 40px;
	margin:20 auto;
}

.swipeImg{
	width:100px;
	opacity:.7;
	margin:0 auto;
}
.locationImg{
	width:50px;
	margin:0 auto;
}
.tutBg{
	background-color:#1d71b8;
	background-image: url('../images/tutorial/doodlebg.png');
	padding:30 40 0;
	max-height:80%;
}
.tutBg img{
	max-width:100%;
	margin:0 auto;
	padding:50px 0px 0px 0px;
}
.tutBg2{
	background-color:#e83273;
	background-image: url('../images/tutorial/doodlebg.png');
	padding:30 40 0;
	max-height:80%;
}
.tutBg2 img{
	max-width:100%;
	margin:0 auto;
	padding:50px 0px 0px 0px;
}
.tutText{
	margin:0 0 40 0;
}
#tutEnd{
	margin:40px 0px 0px 0px;
}
#tutEnd a{
	background-color:#1d71b8;
	color:white;
	border-radius:20px;
	font-size:24px;
	padding:15px 30px 15px 30px;
	text-decoration:none;
	-webkit-transition: opacity .1s; /* Safari */
    transition: opacity .1s;
}
#tutEnd a:hover{
	opacity:0.75;
}
#tutEnd i{
	color:white;
	font-size:24px;
	margin-right:20px;
}

/*InfoWindow edit */
.tutBgInfo1{
	background-image: url('../images/POI/infowindow1/landen.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	padding:20 40 20;
}
.tutBgInfo2{
	background-image: url('../images/POI/infowindow2/opbouw.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	padding:20 40 20;
}
.tutBgInfo1 img, .tutBgInfo2 img{
	max-width:100%;
	max-height:350px;
	margin:0 auto;
	border-radius:20px;
	border-width:5px;
	border-color:white;
}