body{
	height: 100%;
	overflow: hidden
}

#designContainer{
	width:400px;
	font-family:Helvetica;
}
.inGame{
	display:none;
}

.cellcentered {
	text-align: center;
}

#gameCanvas {
    background-image: url('../images/game/game_bg.jpg');
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

#buttons {
  padding-top: 50px;
  text-align: center;
}

#swipeImage{
	position: absolute;
	display: hidden;
}

#swipeImage img{
	width:100px;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Google Maps API CSS*/


/* BackseatBuddy CSS */

#abortGameContainer{
	display: hidden;
}
